@import url("https://fonts.googleapis.com/css?family=Pacifico|Quicksand|Scope+One|Nunito+Sans");
/** FONTS **/
/** COLORS **/
.Landing {
  display: flex;
  flex-flow: row wrap;
  min-height: 85vh;
  text-align: center;
  background-image: linear-gradient(#f1f6f9, #d9e4e8); }

.Landing__banner,
.Landing__data {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  padding: 1rem; }

.Landing__banner {
  background: url(https://images.unsplash.com/photo-1490818387583-1baba5e638af?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1032&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  .Landing__banner__heading {
    margin: auto;
    font-family: "Pacifico", cursive;
    color: #747474;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0%, -50%); }

.Landing__data {
  flex: 100%;
  background: url(../bg/bgfood1.svg);
  background-repeat: no-repeat;
  background-size: cover; }
  .Landing__data__content {
    margin: auto;
    font-family: "Quicksand", sans-serif;
    font-size: 1.25rem;
    color: #747474;
    font-weight: 600; }
    .Landing__data__content ul {
      margin-bottom: 3%; }
      .Landing__data__content ul li {
        padding: 0.71rem; }

@media (min-width: 900px) {
  .Landing__banner__heading {
    font-size: 3rem; }
  .Landing__data {
    flex: 1; } }
